nav(class="navbar navbar-light bg-warning")
    .container-fluid
        ul(class="nav justify-content-center") 
            li
            img(src="https://avatars.githubusercontent.com/u/9338635?v=4&s=160", alt="pug", width='40', height="40")
            h4(class="navbar-brand" href="/") Pug Products 
            div
            a(class="nav-link h5" href="/") Formulario
            a(class="nav-link h5" href="/productos") Productos